<div class="page-wrapper login-background">


  <div class="card">
    <h2>Iniciar Sesión</h2>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <!-- EMAIL -->
      <label>Correo electrónico</label>
      <input 
        type="email" 
        formControlName="email"
        placeholder="example@correo.com" 
      />

      @if (submitted && f['email'].errors) {
        <div class="error">
          @if (f['email'].errors['required']) {
            <span>El email es obligatorio.</span>
          }
          @if (f['email'].errors['email']) {
            <span>Formato de email inválido.</span>
          }
        </div>
      }

      <!-- PASSWORD -->
      <label>Contraseña</label>
      <input 
        type="password" 
        formControlName="password"
        placeholder="********"
      />

      @if (submitted && f['password'].errors) {
        <div class="error">
          @if (f['password'].errors['required']) {
            <span>La contraseña es obligatoria.</span>
          }
          @if (f['password'].errors['minlength']) {
            <span>Debe tener al menos 8 caracteres.</span>
          }
          @if (f['password'].errors['pattern']) {
            <span>Debe contener mayúsculas y minúsculas.</span>
          }
        </div>
      }

      <!-- BOTÓN -->
      <button type="submit" class="btn">Entrar</button>

      <!-- MENSAJE DE ERROR -->
      @if (errorMsg) {
        <p class="error">{{ errorMsg }}</p>
      }

    </form>

    <div class="footer-text">
      ¿No tienes cuenta?
      <a routerLink="/register">Crear cuenta</a>
    </div>

  </div>

</div>
