<div class="side-menu">
  <div class="menu-header">
    <h3>Menú</h3>
  </div>

  <nav class="menu-items">
    <a class="menu-item" (click)="goDashboard()">
      <span class="icon">🏠</span>
      <span>Dashboard</span>
    </a>
    @if (propsRole === 'admin') {
      <a class="menu-item" (click)="goDashboardAdmin()">
      <span class="icon">👥</span>
      <span>Usuarios</span>
    </a>
    }
    <a class="menu-item" (click)="goSettings()">
      <span class="icon">⚙️</span>
      <span>Mi Usuario</span>
    </a>
  </nav>

  <div class="menu-footer">
    <button class="logout-btn" (click)="logout()">
      <span class="icon">🚪</span>
      <span>Cerrar Sesión</span>
    </button>
  </div>
</div>

@if (showMfa) {
  <app-mfa
    (close)="onMfaClose()"
    (verified)="onMfaVerified($event)"
    [propsEmail]="propsEmail"
    [propsReason]="propsReason"
  ></app-mfa>
}
